PORT=3000
SUPABASE_URL=https://cdixsynyhazlusinwlry.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNkaXhzeW55aGF6bHVzaW53bHJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxNjIyNjgsImV4cCI6MjA4NzczODI2OH0.OHcADqv4R9kqBxmpfUYgwI866icOXbKupBJMJexUFVU
SESSION_SECRET=supersecretkey